@use '../core/variables' as vars;

.page-servicios {
    display: flex;
    flex-direction: column;
    
    
    .page-servicios__image {
        padding: vars.$space-8;
    }
    .page-servicios__title {
        margin: 0 auto; /*centrar elementos medio*/
        display: flex;
        flex-direction: column;
        width: 25%;
        gap: 0.5rem;
        h2 {
            font-family: vars.$font-family-heading;
            font-size: vars.$font-size-md;
            letter-spacing: 0.08em;
            display: flex;
            justify-content: center;
            color: vars.$color-accent-pink;

        }
        h1 {
            font-family: vars.$font-family-body;
            font-weight: bold;
            justify-content: center;
            display: flex;
            text-align: center;
            font-size: vars.$font-size-3xl; 
        }

        }
    .page-servicios__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;
        .page-servicios__card {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1 {
                font-size: vars.$font-size-xl;
            }
            p {
              font-size: vars.$font-size-lg;
              color: grey;
            }
            .page-servicios__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 25%;
                background-color: vars.$color-accent-pink;
                color: vars.$color-neutral-0;
                
            }
               
        }
        
    }
    }
        
  


