
.block1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 27rem;
    height: 38rem;
    padding: 1rem;
   
}

.block1__card {
    margin-top: 1rem;
    width: 27rem;
    
}
    
.block1__card-img {
  margin-bottom: 2rem;
  
}  

.block1__box1--h1 {
    color: black;
    text-align: center;
    font-size: large;

}

.block1__box1--h1 span {
    color: #f85e9f;
    text-align: center;
    
}

.block1__box1--button {
    background-color:  #5d50c6;
    color: white;
    width: 25rem;
    height: 4rem;  
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    border-radius: 6rem;
    margin-top: 2rem;
  
    
    
} 

