
.block1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 27rem;
    height: 38rem;
    padding: 1rem;
   
}

.block1__card {
    margin-top: 1rem;
    width: 27rem;
    position: relative;
    
}
    
.block1__card-img {
  margin-bottom: 2rem;
  
}  

.block1__box1--h1 {
    color: black;
    text-align: center;
    font-size: large;

}

.block1__box1--h1 span {
    color: #f85e9f;
    text-align: center;
    
}

.block1__box1--button {
    background-color:  #5d50c6;
    color: white;
    width: 25rem;
    height: 4rem;  
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    border-radius: 6rem;
    margin-top: 2rem;
  
} 


@media screen and (min-width: 1200px) {
  /* Desktop */

  .block1 {
  width: 74rem;
  height: 47.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 8rem 50rem;
  padding: 64px 0;
  }

  .block1__card {
    margin-top: 1rem;

    
}

.block1__card-img {
 width: 35.9rem;
 height: 39.5rem;
 position: relative;
 left: 35rem;

 

}

 .block1__box1 {
 position:relative;
 right: 25rem;
    
  }

  .block1__box1--button {
    background-color:  #5d50c6;
    color: white;
    width: 7.25rem;
    height: 3rem;  
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: center;
    border-radius: 6rem;
    margin-top: 7rem;
    align-items: center;
    margin-left: 8rem;

  
} 

.block1__box1--h1 {
    color: black;
    text-align: left;
    font-size: 2rem;
    height: 10rem;
    width: 32rem;
    margin-left: 8rem;
   
   
    
}

}