@use "../core/variables" as vars;
.destination {
  width: 100vw;
  min-width: 430px;

  &__header {
    text-align: center;
    margin: 2rem;
    &-title {
      font-size: vars.$font-size-md;
      color: vars.$text-on-subtitle-eyebrow;
      text-transform: uppercase;
      font-weight: vars.$font-weight-bold;
      line-height: vars.$line-height-tight2;
      letter-spacing: 0.2rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-right: 2.25rem;
    list-style: none;
    margin-left: 1rem;
  }
  .card {
    &__media {
      display: block;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05),
        0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03),
        0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
      width: 378px;
      height: 128px;
      margin-bottom: 2rem;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;
      padding-left: 2rem;
    }
    &__price {
      color: vars.$text-on-subtitle-eyebrow;
      font-size: vars.$font-size-xl;
      font-family: vars.$font-family-heading;
      font-weight: vars.$font-weight-bold;
      line-height: vars.$line-height-card;
    }
    &__title {
      font-weight: vars.$font-weight-bold;
      font-family: vars.$font-family-heading;
      font-weight: vars.$font-weight-bold;
      line-height: vars.$line-height-card;
      font-size: vars.$font-size-xl;
      color: vars.$text-primary;
    }
  }
}

@media all and (min-width: 768px) {
  .destination {
    &__header {
      /*dejo libre por si necesito meter m치s separaci칩n en caso de que soraya no lo tenga*/
      text-align: center;
      margin: 2rem;
      &-title {
        font-weight: vars.$font-weight-bold;
        line-height: vars.$line-height-card;
        font-size: vars.$font-size-xl;
        font-size: vars.$font-size-xl;
        font-family: vars.$font-family-heading;
      }
    }
  }
}

@media all and (min-width: 1270px) {
  .destination {
    &__header {
      /*dejo libre por si necesito meter m치s separaci칩n en caso de que soraya no lo tenga*/
      text-align: left;
      margin-top: 2rem;
      margin-left: 9.0625rem;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr minmax(378px, 1fr);
      justify-items: center;
      padding-right: 2.25rem;
      list-style: none;
      gap: 1rem;
      padding-left: 9.0625rem;
      margin-left: 0rem;
    }

    .card {
      &__media {
        display: block;
      }
      &__info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
      }
    }
  }
}
