@use "../core/variables" as vars;

.footer {
  width: 100vw;
  min-width: 320px;
  height: auto; /*188px*/
  margin-left: 2rem;
 

  &__title {
    display: inline-flex;
    margin-top: 32px;
    gap: 1rem;
    justify-content: flex-start;
    &-Ada-travel {
      width: 116px;
      height: 40px;
      font-family: vars.$font-family-heading;
      font-size: vars.$font-size-xl2; /*24*/
      font-weight: vars.$font-weight-bold-footer;
      line-height: 2.5rem; /*40*/
      text-align: left;
      color: vars.$text-primary;
    }
  }

  &__brands {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: vars.$color-brand-700;
      color: vars.$color-neutral-0;
    }
  }
  &__menu { 
    &-list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: vars.$font-size-lg;
    font-family: vars.$font-family-heading;
    color: vars.$text-secondary;

    &--title {
      font-weight: bold;
      color: vars.$text-primary;
      font-size: vars.$font-size-lg2;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  } 
  &__others {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 8rem;

    &--logo {
      width: 100px;
      height: auto;
    }

    .icon-copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: auto;
    border-radius: 50%;
      background-color: #b8b8b9;
      color: #54575a;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    width: 100vw;
    min-width: 760px;

    &__menu {
      justify-content: end;
      display: flex;
      padding-right: 8rem;
     
      &-list {
        margin-top: 1.5rem;
        gap: 2rem;
        font-weight: vars.$font-weight-regular;
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: vars.$font-size-lg;
        color: vars.$text-secondary;
        &--title {
          font-weight: bold;
          color: vars.$text-primary;
          font-size: vars.$font-size-xl;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

@media all and (min-width: 1270px) {
 .footer {
    width: 100vw;
    min-width: 760px;

    &__menu {
      justify-content: end;
      display: flex;
      padding-right: 8rem;
     
      &-list {
        margin-top: 1.5rem;
        gap: 2rem;
        font-weight: vars.$font-weight-regular;
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: vars.$font-size-lg;
        color: vars.$text-secondary;
        &--title {
          font-weight: bold;
          color: vars.$text-primary;
          font-size: vars.$font-size-xl;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}