.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  

    .logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 37px;
    }
}
