@use '../core/variables' as vars;

.page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 3rem;
  

    .logo {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      height: 37px;
      }  
    .menu-burguer {
      margin-left: auto;
      }
    .menu {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: auto;

      a {
        text-decoration: none;
        color: grey;
        
        &:hover {
          color: black;
        }
      }
    }

}

/* TAMAÑO MOBILE*/
@media (max-width: 736px) {
  .menu a {
   display: none; 
  }
}

/* TAMAÑO IPAD*/
@media (min-width: 736px) {
  .menu-burguer {
   display: none; 
  }
  
}

