@use '../core/variables' as vars;

.page__header {
  font-family: vars.$font-family-heading;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
  

    .logo_header {
      font-weight: vars.$font-weight-bold;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      height: 37px;
      }  
    .menu_header-burguer {
      margin-left: auto;
      }
    .menu_header-list {
      font-family: vars.$font-family-body;
      font-weight: vars.$font-weight-semibold;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-left: auto;

      a {
        text-decoration: none;
        color: grey;
        
        &:hover {
          color: black;
        }
      }
    }

}

/* TAMAÑO MOBILE*/
@media (max-width: 736px) {
  .menu_header-list a {
   display: none; 
  }
}

/* TAMAÑO IPAD*/
@media (min-width: 736px) {
  .menu_header-burguer {
   display: none; 
  }
  
}

