@use "../core/variables" as vars;

.card2 {
  width: 400px;
  height: 500px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05),
    0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03),
    0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
  margin-left: 2rem;
  background-color: #f3f4f6;
  border-radius: 5%;
  &__title {
    padding: 3rem 2rem 2rem;
    font-family: vars.$font-family-heading;
    font-size: vars.$font-size-2xl; /*32*/
    font-weight: vars.$font-weight-bold-footer;
    line-height: 2.5rem; /*40*/
    text-align: left;
    color: vars.$text-primary;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    font-weight: 700;
    font-size: 1.4375rem;

    .box-elements {
      display: inline-flex;
      justify-content: flex-start;
      align-items: start;
      text-align: start;
      gap: 1rem;
      margin-left: 1rem;
      .field {
        display: flex;
        flex-direction: column;

        &__label {
          font-family: vars.$font-family-heading;
          font-size: vars.$font-size-xl2; /*24*/
          line-height: 2.5rem; /*40*/
          text-align: left;
          font-weight: vars.$font-weight-bold;
          color: vars.$text-primary;
          font-size: vars.$font-size-xl;
        }
        &__value {
          font-size: vars.$font-size-lg;
          font-family: vars.$font-family-heading;
          color: vars.$text-secondary;
          font-weight: 100;
        }
      }
      .brand2 {
        display: flex;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: vars.$color-neutral-0;
        justify-items: center;
        justify-content: center;
        align-items: center;
      }
    }

    .icon2 {
      color: #5d50c6;
      font-size: 25px;
    }
  }
}
@media all and (min-width: 768px) {
  .card2 {
    width: 780px;
    height: 400px;
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      font-weight: 700;
    }
  }
}

@media all and (min-width: 1270px) {
  .card2 {
    width: 900px;
    margin-left: 10rem;
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      font-weight: 700;
    }
  }
}
