.form {
    background-color: rgba(250, 205, 73, 0.08);
    width: 27rem;
    height: 57rem;
    margin-left: 3rem;
    display:flex;
    flex-direction:column;
    margin-top: 0rem;

  }

   .form__h3 {

      color:#f85e9f;
      padding: 8rem 3rem 3rem;
      font-size: 1.4rem;
      font-style: normal;
    }

.container__form {
    align-items: center;
    gap: 5rem;
    outline: none;
    height: 5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    position: relative;
    
  
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 20rem;              
}

.container__img {
  margin-top: 30rem;  
       
  img {
    max-width: 100%;      
    height: auto;
    
  }
}

 
/*TEXT INSIDE FORM*/

input[type=text] {
  border: none;
  padding: 1.3rem;
  border-radius: 3rem;
  font-size: large;
  margin-left: 2rem;
  margin-right: 4rem;
  font-weight: bold;
  margin: 1rem;
 



}
/*BUTTON*/

input[type=submit] {
  background-color: #5d50c6;
  color: white;
  border: none;
  padding: 2rem 4rem;
  border-radius: 2rem;
  margin-bottom: 8rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 10.5rem;
  font-size: 1rem;
  font-weight: bold;
}



  /*-------------------------- Desktop------------------ */

@media screen and (min-width: 1200px) {


  input[type=text] {
    width: 49rem ;
    height: 5.9rem;
  }


  .form {
    background-color: rgba(250, 205, 73, 0.08);
    width: 55.9rem;
    height: 51rem;
    display:inline-flex;
  }

  .container {
  display: flex;
  flex-direction: row; 
  align-items: center;    
  gap: 2rem;  
  margin: -10rem;
          
}

.container__img {
  margin-top: 30rem;  
  width: 55.9rem;
  height: 51rem;
       
  img {
    width: auto;
    height: auto;
    
  }
}

}





