.form {
    background-color: #FFFFC5;
    width: 27rem;
    height: 51rem;
    margin-left: 3rem;
    display:flex;
    flex-direction:column;

  }

   .form__h3 {

      color:#f85e9f;
      padding: 8rem 3rem 3rem;
      font-size: 1.4rem;
      font-style: normal;
    }

.container {
  margin-left: 0rem;
}

.form__card {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
    outline: none;
    border: 0;
    height: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    position: absolute;

    
}



/*TEXT INSIDE FORM*/

input[type=text] {
  border: none;
  padding: 1.9rem;
  border-radius: 3rem;
  font-size: large;
  margin-left: 2rem;
  margin-right: 4rem;
  font-weight: bold;



}
/*BUTTON*/

input[type=submit] {
  background-color: #5d50c6;
  color: white;
  border: none;
  padding: 2rem 4rem;
  border-radius: 2rem;
  margin-bottom: 8rem;
  margin-left: 4rem;
  margin-right: 10.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.container__image{
    margin: 0rem ;
    margin-top: 0;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
    float: right;
    position: relative;

 
    
}


  /*-------------------------- Desktop------------------ */

@media screen and (min-width: 1200px) {


  input[type=text] {
    width: 49rem ;
    height: 5.9rem;
  }


  .form {
    background-color: #FFFFC5;
    width: 55.9rem;
    height: 51rem;
    display:inline-flex;
  }

 
}

.form__card {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
    outline: none;
    border: 0;
    height: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    position: absolute;

    
}



@media screen and (max-width: 780px) {

.container__image {
  width:27rem;
  height:24.5rem;
}

}  


/*-------------------------- Tablet ------------------ */

@media (min-width: 768px) and (max-width: 1200px) {

    .container__image{
  width:27rem;
  height:24.5rem;
}


}


