@use '../core/variables' as vars;


.background {
    height: 160vh;
    background-color: vars.$color-bg-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: vars.$space-8 0;
}
.profile-image {
    height: 100%;
    width: 40%;
    display: flex;

}