
.contact {
    background-color: #202355;
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    margin-top: 40rem;
}

.contact__h3 {
        color: white;
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: x-small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;

    }

    .contact__box {
        color:  #202355;
        
    }

    .contact__box--text {
        padding: 1.2rem;
        color: #202355;
        margin: 0.50rem;
        margin-left:2rem;
    }

    .contact__button {
        background-color: none;
        
    }

    .contact__button--text {
        color:white;
       

    }

  /*-------------------------- Desktop------------------ */

@media screen and (min-width: 1200px) {


.contact {
    background-color: #202355;
    width: 60rem;
    height: 30rem;
    padding: 1rem;
    margin-top: 40rem;
}

.contact__h3 {
        color: white;
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: x-small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }



    .contact__box {
        color:  #202355;
        
    }

    .contact__box--text {
        padding: 1.2rem;
        color: #202355;
        margin: 0.50rem;
        margin-left:2rem;
    }

    .contact__button {
        background-color: none;
        margin-top: 3rem;
        margin-right: 5rem;
        
    }

    .contact__button--text {
        color:white;
    
    }

}