<!--CONTACT MOBILE-->

<section class="form"> 

    <form action="/signup" method="get">

        <h3 class="form__h3">SUSCRIBETE</h3>

        <div class="form__card"> 

        <div class="form__card--email">
            <input placeholder= "Email" type="text" name="email">
        </div>

        <div class="form__card--name">
            <input placeholder="Nombre" type="text" name="Name">
        </div>
 
        <div class="form__card--comment">
            <input placeholder="Comentario" type="text" name="Comment">
        </div>

        <div class="form__bottom">
            <input type="submit" value="Enviar">
        </div>

      </div>

    </form>

</section>