<section class="destination">
  <div class="destination__header">
    <span class="destination__header-title">Top destination</span>
  </div>

  <ul class="destination__list">
    <!-- Card 1 -->
    <li class="card">
      <a class="card__link" href="#">
        <figure class="card__media">
          <img class="card__media" src="/images/3.png" alt="Playa con barcas" />
        </figure>
        <div class="card__info">
          <span class="card__price">$550.16</span>
          <span class="card__title">Lorem</span>
        </div>
      </a>
    </li>

    <!-- Card 2 -->
    <li class="card">
      <a class="card__link" href="#">
        <img src="/images/4.png" alt="Pez león" />
        <div class="card__info">
          <span class="card__price">$20.99</span>
          <span class="card__title">Lorem</span>
        </div>
      </a>
    </li>

    <!-- Card 3 -->
    <li class="card">
      <a class="card__link" href="#">
        <img src="/images/2.png" alt="Montañas azules" />
        <div class="card__info">
          <span class="card__price">$150.99</span>
          <span class="card__title">Lorem</span>
        </div>
      </a>
    </li>
  </ul>
</section>
