<section class="page-servicios">
    <img src="images/7.png" alt="composición fotos, Paradise on Earth" class="page-servicios__image">
    <div class="page-servicios__title">
        <h2>LOREM</h2>
        <h1>Mejores servicios</h1>
    </div>

    <div class="page-servicios__cards">
     <!--CARD 1 -->
        <div class="page-servicios__card"> 
            <i class="page-servicios__icon fa-solid fa-location-dot fa-3x"></i>
            <div class="page-servicios__card-text"> 
                <h1>Lorem</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
     <!--CARD 2 -->
        <div class="page-servicios__card"> 
            <i class="page-servicios__icon fa-solid fa-calendar-days fa-3x"></i>
            <div class="page-servicios__card-text">
                <h1>Lorem</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            
        </div>

     <!--CARD 3 -->
        <div class="page-servicios__card"> 
            <i class="page-servicios__icon fa-solid fa-ticket fa-3x"></i>
            <div class="page-servicios__card-text">
                <h1>Lorem</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div> 
    </div>

</section>