

<div class="card ">

    <h2>Trabajos</h2>
    <div class="list-work">
        <div class="work">
            <span class="team-name">(Nombre equipo)</span>
            <span class="year">Año-Año</span>
        </div>

        <div class="work">
            <span class="team-name">(Nombre equipo)</span>
            <span class="year">Año-Año</span>
        </div>

        <div class="work">
            <span class="team-name">(Nombre equipo)</span>
            <span class="year">Año-Año</span>
        </div>

        <div class="work">
            <span class="team-name">(Nombre equipo)</span>
            <span class="year">Año-Año</span>
        </div>

        <div class="work">
            <span class="team-name">(Nombre equipo)</span>
            <span class="year">Año-Año</span>
        </div>
    </div>
</div>

