<footer class="footer">
  <section class="footer__contain">
  <div>
  <div class="footer__title">
    <img src="/images/1.png" />
    <span class="footer__title-Ada-travel">Ada Travel</span>
  </div>
  <div class="footer__brands">
    <a href=""><i class="fa-brands fa-facebook-f icon"></i></a>
    <a href=""><i class="fa-brands fa-twitter icon"></i></a>
    <a href=""><i class="fa-brands fa-instagram icon"></i></a>
  </div>
  </div>
  <div class="footer__menu">
  <ul class="footer__menu-list">
    <li><a href=""><span class="footer__menu-list--title">Home</span></a></li>
    <li><a href=""><span>Nosotros</span></a></li>
    <li><a href=""><span>Contacto</span></a></li>
  </ul>
  </div>
  </section>
  <div class="footer__others">
    <img src="/images/logo-adalab.png" class="footer__others--logo">
    <i class="fa-regular fa-copyright icon-copyright"></i>
  </div>
</footer>
