<footer class="footer">
  <div class="footer__title">
    <img src="/images/1.png" />
    <span class="footer__title-Ada-travel">Ada Travel</span>
  </div>
  <div class="footer__brands">
    <i class="fa-brands fa-facebook-f icon"></i>
    <i class="fa-brands fa-twitter icon"></i>
    <i class="fa-brands fa-instagram icon"></i>
  </div>
  <div class="box__menu"></div>
  <div class="footer__others">
    <img src="/images/logo-adalab.png" class="footer__logo">
    <i class="fa-regular fa-copyright" class="footer__copyright"></i>
  </div>
  
</footer>
