<section class="card2">
  <h2 class="card2__title">Datos personales</h2>
  <div class="card2__grid">
    <div class="box-elements">
      <div class="brand2">
      <i class="fa-brands fa-linkedin icon2"></i>
      </div>
      <div class="field">
        <span class="field__label">Linkenin</span>
        <span class="field__value">www.linkedin.com/in/malinachitic</span>
      </div>
    </div>
    <div class="box-elements">
      <div class="brand2">
      <i class="fa-solid fa-folder-open icon2"></i>
      </div>
      <div class="field">
        <span class="field__label">Porfolio</span>
        <span class="field__value">www.linkedin.com/in/malinachitic</span>
      </div>
    </div>
    <div class="box-elements">
      <div class="brand2">
      <i class="fa-solid fa-location-dot icon2"></i>
      </div>
      <div class="field">
        <span class="field__label">Disponibilidad Consulta</span>
        <span class="field__value">Online/Zaragoza</span>
      </div>
    </div>
    <div class="box-elements">
      <div class="brand2">
      <i class="fa-solid fa-briefcase icon2"></i>
      </div>
      <div class="field">
        <span class="field__label">Recomendaciones</span>
        <span class="field__value">www.linkedin.com/in/malinachitic</span>
      </div>
      </div>
  </div>
</section>
