     <div class="contact"> 

        <div class="contact__h3"><h3>¿Hablamos?</h3></div>

        <div class="contact__box">
        <input class="contact__box--text" placeholder= "Email" type="text" name="email">
        </div>
                              
        <div class="contact__box">
        <input class="contact__box--text" placeholder="Comentario" type="text" name="Comment">
        </div>

        <div class="contact__button">
        <input class="contact__button--text" type="submit" value="Enviar">
        </div>