<!--CONTACT MOBILE-->

 <form action="/signup" method="get">

                  <div class="form">

                                            <div class="container__form">

                                                 <div class="form__h3"><h3>SUSCRIBETE</h3></div>
                    
                                                 <div class="form__card"> 

                                                        <div class="form__card--email">
                                                            <input placeholder= "Email" type="text" name="email">
                                                        </div>

                                                        <div class="form__card--name">
                                                            <input placeholder="Nombre" type="text" name="Name">
                                                        </div>
                                                
                                                        <div class="form__card--comment">
                                                            <input placeholder="Comentario" type="text" name="Comment">
                                                        </div>

                                                        <div class="form__card--bottom">
                                                            <input type="submit" value="Enviar">
                                                        </div>

                                                 </div>

                                            <div>

                 

                                        
               

                   </div>

                                                 <div>
                                                    <img src="/images/mapa-madrid.jpg" alt="mapa madrid" width="430px" height="392px">
                                              </div>  
</form>

