

<link rel="stylesheet" href="/src/scss/layout/_stadistics.scss" />  

<section class="background">

    <article. class="profile_image">
        <img class="stadistics__img" src="../public/images/Courtois.png" alt="Icono de estadísticas">
    </article>



    <article>

        <div>
        <h2 class="stadistics__name">Sara González</h3>
        <p class="stadistics__job">CRO</p>
        </div>

        <div>
            <h3 class="stadistics__number">22</h3>
            <p class="stadistics__description">Años trabajados</p>
        </div>

        <div>
            <h3 class="stadistics__number">14</h3>
            <p class="stadistics__description">Empresas</p>
        </div>

        <div>
            <h3 class="stadistics__number">14</h3>
            <p class="stadistics__description">Empresas</p>
        </div>


        <div>
            <h3 class="stadistics__number">9.9</h3>
            <p class="stadistics__description">Ratio de satisfacción</p>
        </div>
    </article>


</section>