@use 'core/variables';
@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/_bloque_1';
@use 'layout/bloque_2';
@use 'layout/signup';
@use 'layout/footer';
@use 'pages/index';
@use 'layout/travel-point';
