@use 'core/variables';
@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';
<<<<<<< HEAD
@use 'layout/_bloque_1';
@use 'layout/_signup';
=======
>>>>>>> 769f3a74bda515183414b770f1e4045953ce1a6e
