@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';
@use 'layout/_bloque_1';
@use 'layout/_signup';




